* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
}

.container {
    position: relative;
    width: 100%;

    height: 100vh;

}

.nav_center {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 1rem;
}

.nav_center .btn {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}